html,
body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	padding: 40px 0;
	text-align: center;
	background-color: #bbacac;
}

.main {
	flex: 1 1 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.main-block {
	flex: 0 1 70%;
	background-color: #f7e4a5;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

.main-top {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
}

.main-top-block {
	flex: 1 1 auto;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #f5d362;
}

.main-top-block:not(:last-child) {
	margin-right: 20px;
}

.main-bottom {
	padding: 10px;
	background-color: #f5d362;
}

.aside {
	flex: 0 1 30%;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: #89df89;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: #cdc3c3;
}

.footer-block {
	padding: 10px;
	background-color: #fff;
}